<!--
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
-->

<div class="row">
 <div class="span3 bs-docs-sidebar" id="navbar">
   <%= @toc_render %>
 </div>
 <div class="span9">
  <h1>VM SDK Documentation</h1>
   <%= @html_render %>
 </div>
</div>

<script>hljs.initHighlightingOnLoad();</script>
<script>
$(document).ready(function() {

   // side bar
   setTimeout(function () {
     $('.bs-docs-sidenav').affix({
       offset: {
         top: 0
       , bottom: 270
       }
     })
   }, 100)
});
</script>