<!--
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
-->

<div class="well info row well-small">

  <div class="pull-left" >
    <a class="btn btn-primary" href="/clear_daemon_log">clear server log</a>
  </div>

  <div class="pull-left" style="margin-top:5px;margin-left:10px">
    <i class="icon-th"></i> : SERVER
    <i class="icon-star"></i> : PRESENCE
    <i class="icon-envelope"></i> : MESSAGE
    <i class="icon-th-list"></i> TRACK
    <i class="icon-fire"></i> : ORDER
    <i class="icon-share"></i> : ACK
  </div>

  <div class="pull-right">

    <% if is_log_show_com() == 'true' %>
      <a class="btn btn-success" href="/log_show_com_hide">com</a>
    <% else %>
      <a class="btn btn-success disabled" href="/log_show_com_show">com</a>
    <% end %>

    <% if is_log_show_process() == 'true' %>
      <a class="btn btn-info" href="/log_show_process_hide">processing</a>
    <% else %>
      <a class="btn btn-info disabled" href="/log_show_process_show">processing</a>
    <% end %>

    <% if is_log_show_error() == 'true' %>
      <a class="btn btn-danger" href="/log_show_error_hide">errors</a>
    <% else %>
      <a class="btn btn-danger disabled" href="/log_show_error_show">errors</a>
    <% end %>
  </div>
</div>

<div class="row-fluid">

  <!-- button div -->
  <div class="span4" id="sdkLogButtons">
  </div>

  <div class="span8">
    <small>
      Note : your log.debug('...') will be drop in production, avoid put useful logs as debug, put them as info instead.
      <div id="view_code" class="" data-spy="affix" data-offset-top="40" style="width:800px;height:700px;overflow-y: scroll">
        <i class="icon-arrow-left"></i><em> Click on buttons for details.</em>
      </div>
    </small>
  </div>
</div>

<section id="endlog"></section>

<!-- Scripts ===================================================================-->
  <script>
    function escapeHTML(text) {   return text.replace(/[&<>"'`]/g, function (chr) {     return '&#' + chr.charCodeAt(0) + ';';   }); };


    $(document).ready(function() {

      // manage dynamic change of button list
      (function logSdkAgentsPunk() {
        (function updater() {
          $.ajax({
            url: '/gen_sdk_log_buttons',
            type: "GET",
            success: function(data) {
              $('#sdkLogButtons').html(data);
            },
            error: function(xhr, status, errorThrown) {
              console.error("Error: " + status + " (" + errorThrown + ") ---- " + xhr)
            },
            complete: function() {
              setTimeout(updater, 4000);

              // re bind all button to view content of an PUNK button
              $("button[data-bind=btn]").bind('click', function() {
                console.log('click a button !!!')
                var content = $('#' + $(this).data('content'));
                var lines   = JSON.parse(content.text());


                var sanitizedLines = lines.map(function(line){ return escapeHTML(line) });

                // colorise logs

                spn_debug = ""
                spn_info = "label label-info"
                spn_warn = "label label-warning"
                spn_err = "label label-important"


                aDone = false
                for (var i = 0; i < sanitizedLines.length; i++) {
                  if (aDone) {
                    sanitizedLines[i] = sanitizedLines[i].replace('D, [','</span><span class="' + spn_debug + '"> D, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('I, [','</span><span class="' + spn_info + '"> I, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('W, [','</span><span class="' + spn_warn + '"> W, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('E, [','</span><span class="' + spn_err + '"> E, [')
                  } else {
                    aDone = true
                    sanitizedLines[i] = sanitizedLines[i].replace('D, [','<span class="' + spn_debug + '"> D, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('I, [','<span class="' + spn_info + '"> I, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('W, [','<span class="' + spn_warn + '"> W, [')
                    sanitizedLines[i] = sanitizedLines[i].replace('E, [','<span class="' + spn_err + '"> E, [')
                  }
                }
                // insert at the end
                sanitizedLines.splice(sanitizedLines.length, 0, '</span>');


                $("#view_code").html(sanitizedLines.join('<br />'));
              });

            }
          });
        })(); // function updater and run it
      })(); // function layout and run it

    });



  </script>
<!-- End scripts ===============================================================-->
