<div class="tests-container">

  <div class="row-fluid">
    <div class="span8">
      Select agent(s) to test:
      <div class="btn-group">
        <a class="btn dropdown-toggle" id="select-agent-btn" data-toggle="dropdown" href="#">Choose an agent <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="available-agents">
          Retrieving available agents...
        </ul>
      </div>
      <button class="btn btn-primary disabled" id="run-tests">Run tests</button>
    </div>
    <div class="span4">
      <div class="pull-right">
        <a class="btn disabled" id="save-tests-results">Save tests results as raw text</a>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div id="notice">
    </div>
  </div>

  <div class="row-fluid">
    <h3>Test status</h3>
    <div id="general-test-info">
      <p class="muted">Agents server is offline, waiting...</p>
    </div>
    <div id="test-suites-container">
    </div>
  </div>

</div>

<!-- templates -->
<script id="available-agents-tmpl" type="text/x-handlebars-template">
  {{#each agents}}
  	<li><a href="#" id="{{name}}">{{name}}</a></li>
  {{else}}
     No agent is mounted and available to test.
  {{/each}}
  <li class="divider"</li>
  <li><a href="#">All agents</li>
</script>

<script id="test-suite-exception-tmpl" type="text/x-handlebars-template">
  <h4>{{agentName}}</h4>
  <div class="well">
  <p class="lead">An exception was raised before the tests could be started for this agent.</p>
  <p class="alert alert-danger"><strong>{{exceptionInfo.class}}</strong>: {{exceptionInfo.message}}</p>
  <pre class="stacktrace">
  {{#each exceptionInfo.backtrace ~}}
{{this}}
  {{/each}}
  </pre>
  </div>
</script>

<script id="no-test-directory-tmpl" type="text/x-handlebars-template">
  <h4>{{agentName}}</h4>
  <div class="well">
  <p class="lead">No tests folder was found for this agent</p>
  <p><small>The SDK searches for tests to run in the <code>tests</code> folder in the root directory of your agent.</small></p>
  <p><small>A test file name ends in <code>_spec.rb</code>.</small></p>
  <p><small>See the SDK documentation for details</small></p>
  </div>
</script>


<script id="test-suite-running-tmpl" type="text/x-handlebars-template">
<h4>{{agentName}}  <i class='icon-spinner icon-spin icon-large'></i></h4>
<div class="row-fluid">
<span class="span8"><p>Results: <span {{#if this.passedCount}}class="text-success"{{/if}}>{{this.passedCount}} passed</span>, <span {{#if this.failedCount}}class="text-error"{{/if}}>{{this.failedCount}} failed</span>, <span {{#if this.pendingCount}}class="text-warning"{{/if}}>{{this.pendingCount}} not implemented</span></p></span>
<span class="span4"><p class="muted pull-right">Tests running ({{testedCount}} of {{exampleCount}} tested)</p></span>
</div>
{{> result}}
</script>

<script id="test-suite-aborted-tmpl" type="text/x-handlebars-template">
<h4>{{agentName}}</h4>
<div class="row-fluid">
<span class="span8"><p>Results: <span {{#if this.passedCount}}class="text-success"{{/if}}>{{this.passedCount}} passed</span>, <span {{#if this.failedCount}}class="text-error"{{/if}}>{{this.failedCount}} failed</span>, <span {{#if this.pendingCount}}class="text-warning"{{/if}}>{{this.pendingCount}} not implemented</span></p></span>
<span class="span4"><p class="muted pull-right text-warning">Tests aborted ({{testedCount}} of {{exampleCount}} tested)</p></span>
</div>
{{> result}}
</script>

<script id="test-suite-finished-tmpl" type="text/x-handlebars-template">
<h4>{{agentName}}</h4>
<div class="row-fluid">
<span class="span8"><p>Results: <span {{#if this.passedCount}}class="text-success"{{/if}}>{{this.passedCount}} passed</span>, <span {{#if this.failedCount}}class="text-error"{{/if}}>{{this.failedCount}} failed</span>, <span {{#if this.pendingCount}}class="text-warning"{{/if}}>{{this.pendingCount}} not implemented</span></p></span>
<span class="span4"><p class="muted pull-right">Tests complete.</p></span>
</div>
{{> result}}
</script>

<script id="test-suite-result-partial" type="text/x-handlebars-template">
<table class="table" data-agent-name={{agentName}}>
  <thead>
    <th>#</th>
    <th>Test</th>
    <th>Status</th>
    <th>Location</th>
    <th>Duration</th>
  </thead>
  <tbody>
    {{#each examples}}
      <tr class="test-case">
        <td>{{this.index}}</td>
        <td>{{this.fullDescription}}</td>
        {{#if this.hasFailed}}
          <td>
          <div class="failed-example">
          <a href="#" title="Click to toggle the details" class="expand-backtrace"><span class="badge badge-important">{{this.status}} <i class="icon-chevron-down"></i> </span></a>
          </div>
          </td>
        {{else}}
          <td><span class="badge badge-success">{{this.status}}</span></td>
        {{/if}}
        <td>line {{this.lineNumber}} of {{filePath}}</td>
        <td>{{this.duration}} s</td>
        {{#if this.hasFailed}}
          <tr>
            {{#if this.isBacktraceExpanded}}
            <td colspan="5" class="backtrace-container">
            {{else}}
            <td colspan="5" style="display: none;" class="backtrace-container">
            {{/if}}
              {{> backtrace}}
            </td>
          </tr>
        {{/if}}
      </tr>
    {{/each}}
    <tr>
      <td colspan='3'>
        <p class="muted pull-left">Tests started at {{startTime}}</p>
      </td>
      <td>{{#if duration}}<span class="pull-right">Total: </span>{{/if}}</td>
      <td>{{#if duration}}{{duration}} s{{/if}}</td></tr>
  </tbody>
</table>
</script>

<script id="backtrace-partial" type="text/x-handlebars-template">
<div class="backtrace text-left">
  <div class="alert alert-danger">{{this.exception.class}}: {{this.exception.message}}
    <div class="pull-right toggle-full-trace">
      {{#if this.useFullBacktrace}}
      <a href="#">show filtered trace</a>
      {{else}}
      <a href="#">show full trace</a>
      {{/if}}
    </div>
  </div>
<pre>
{{#each this.cleanBacktrace ~}}
{{#if this.important ~}}<strong>{{/if ~}}
{{#if @last ~}}
{{this ~}}
{{else ~}}
{{this}}
{{/if ~}}
{{#if this.important ~}}</strong>{{/if ~}}
{{/each}}
</pre>
  </div>
</script>

<script id="test-suite-scheduled-tmpl" type="text/x-handlebars-template">
<h4>{{agentName}}</h4>
<div class="well">
<p>Tests scheduled.</p>
<p><small>Just wait a little and the results will be displayed here.</small></p>
</div>
</script>

<script id="test-suite-not-scheduled-tmpl" type="text/x-handlebars-template">
<h4>{{agentName}}</h4>
<div class="well">
<p class="lead">No tests are scheduled for this agent.</p>
</div>
</script>



<script src="js/handlebars.js"></script>
<script src="js/tests/app.js"></script>
<script src="js/tests/presenter.js"></script>
<script src="js/tests/test_case.js"></script>
<script src="js/tests/test_launcher.js"></script>
<script src="js/tests/test_updater.js"></script>
<script src="js/tests/test_config.js"></script>
<script src="js/tests/test_suite.js"></script>
