<tr class='error'>
      <td>
        <div class='pull-left text-left'>
          Error when collecting tests. <strong><%= h @exception[:class] %></strong>: <%= h @exception[:message] %>
        </div>
      </td>
      <td colspan="2">
        <div class='pull-left text-left'>
        <% @exception[:backtrace].each do |line| %>
              <%= h line %> <br/>
          <% end %>
        </div>
      </td>
</tr>