cloud_agents
cloud_agents_generated
*.log*
*.html
protogen_*

.agents_to_run
.last_version
.reset_log_checked
.reminder_hidden
.show_more_stats
.cron_tasks_visible

*.yardoc*
ery
doc

# Generated specific file
web_shell/local_cloud/Gemfile
web_shell/local_cloud/Gemfile.lock
web_shell/local_cloud/config/schedule.rb

# package output
*.tar.gz

agent_generated_source
whenever_cron
agents_project_source
builder/config/schedule.rb
