--query '@api.text == "public"'
../local_cloud/ragent_bay/user_api/**/*.rb
../local_cloud/tests_utils/*.rb
--markup=markdown
-M redcarpet
--title "Mobile Devices SDK VM documentation"
-o public/doc
--query '@api.text == "public"'
- guides/*.md