<div class="well row">
 <p>
   <small>
     <%= logs_server %>
   </small>
 </p>
</div>

<section id="endlog"></section>
<br>

<a class="btn btn-primary pull-right" href="/reset_daemon_server_log">erase log file</a>

<H2>
  This content is available into the file : ruby_workspace/sdk_logs/daemon_server.log
</H2>

<br><br><br><br>