
<form action="/restart_server" method="get">
  <button class="btn btn-primary pull-right">Apply and reboot ruby agent sdk server</button>
</form>
<br>


note : remember to 'Apply and reboot ruby agent sdk server' after start or stop agents to be taken in concideration.

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Agent name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent_name, agent| %>
    <tr>
      <td><%= agent.name %></td>
      <td>
        <% if agent.running %>
        <form action='<%= "/agents/#{agent_name}/stop" %>' method="post">
          <button class="btn btn-danger">Stop</button>
        </form>
        <% else %>
        <form action='<%= "/agents/#{agent_name}/start" %>' method="post">
          <button class="btn btn-success">Start</button>
        </form>
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr>
      <form action="/create_agents" method="post">
        <td>Create new agent: <input type="text" name="agent[name]" /></td>
        <td><button class="btn btn-info">Create</button></td>
      </form>
    </tr>
  </tbody>
</table>