source 'http://rubygems.org'

### fake-cloud ###################################################

gem 'sinatra', '~> 1.4.2'
gem 'json'
gem 'thread'
gem 'logger'
gem 'i18n'


### vm-sdk ######################################################

# tests
gem 'rack-test', '~> 0.7.0', require: 'rack/test'
gem 'rspec', '~> 2.14'
gem 'webmock'

# http
gem 'httpclient'
gem 'hashie'

### common ######################################################

gem 'activesupport', '~> 4.2.0', require: 'active_support'

# redis
gem 'redis', '~> 3.2.0'
gem 'redis-namespace', '~> 1.5.1'

# mongo
gem 'mongo', '~> 2.5.1'
gem 'bson', '~> 4.3.0'

# protogen
gem 'redis-lock', '~> 0.2.0' # needed for protogen
gem 'msgpack', '~> 0.5.10 ' # needed for protogen

# scheduler
gem 'whenever', '~> 0.9.4', :require => false
gem 'rufus-scheduler', '~> 3.0.9'

#################################################################
