/*
  Xavier Demompion : xavier.demompion@mobile-devices.fr
  Mobile Devices 2013
*/

section {
  padding-top: 30px;
}

.well-gray {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #333333;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

===================================================================
/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
 width: 228px;
 margin: 30px 0 0;
 padding: 0;
 background-color: #fff;
 -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;
 -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
         box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
 display: block;
 width: 190px \9;
 margin: 0 0 -1px;
 padding: 8px 14px;
 border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
 -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
         border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
 -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
         border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
 position: relative;
 z-index: 2;
 padding: 9px 15px;
 border: 0;
 text-shadow: 0 1px 0 rgba(0,0,0,.15);
 -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
         box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
 float: right;
 margin-top: 2px;
 margin-right: -6px;
 opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
 background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
 opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
 background-image: url(../img/glyphicons-halflings-white.png);
 opacity: 1;
}
.bs-docs-sidenav.affix {
 top: 60px;
}
.bs-docs-sidenav.affix-bottom {
 position: absolute;
 top: auto;
 bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

 /* Desktop large
------------------------- */
@media (min-width: 1200px) {
 .bs-docs-container {
   max-width: 970px;
 }
 .bs-docs-sidenav {
   width: 258px;
 }
 .bs-docs-sidenav > li > a {
   width: 230px \9; /* Override the previous IE8-9 hack */
 }
}



 /* Desktop
------------------------- */
@media (max-width: 980px) {
 /* Unfloat brand */
 body > .navbar-fixed-top .brand {
   float: left;
   margin-left: 0;
   padding-left: 10px;
   padding-right: 10px;
 }

 /* Inline-block quick links for more spacing */
 .quick-links li {
   display: inline-block;
   margin: 5px;
 }

 /* When affixed, space properly */
 .bs-docs-sidenav {
   top: 0;
   width: 218px;
   margin-top: 30px;
   margin-right: 0;
 }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
 /* Remove any padding from the body */
 body {
   padding-top: 0;
 }
 /* Adjust sidenav width */
 .bs-docs-sidenav {
   width: 166px;
   margin-top: 20px;
 }
 .bs-docs-sidenav.affix {
   top: 0;
 }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
 /* Remove any padding from the body */
 body {
   padding-top: 0;
 }

 .marketing .span4 {
   margin-bottom: 40px;
 }

 /* Sidenav */
 .bs-docs-sidenav {
   width: auto;
   margin-bottom: 20px;
 }
 .bs-docs-sidenav.affix {
   position: static;
   width: auto;
   top: 0;
 }
}




/*
  keep scroll bar al lthe time
*/
html {
    overflow-y: scroll;
}


.center-label{
 text-align:center;
}

#main_display th,
#main_display td,
#create_display th, 
#create_display td {
 text-align:center;
}